<div id="about" class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-7">
                <div class="section-title position-relative pb-3 mb-5">
                    <h5 class="fw-bold text-primary text-uppercase">About Us</h5>
                    <h1 class="mb-0">Empowering Dairy Management Through Innovative Solutions</h1>
                </div>
                <p class="mb-4">Dairyvista was founded to revolutionize the dairy industry by providing a comprehensive ERP solution that streamlines operations from production to sales. Our platform addresses the challenges of inventory management, billing, and delivery, ensuring efficiency and profitability for dairy businesses.</p>
                <!-- <a href="quote.html" class="btn btn-primary py-3 px-5 mt-3 wow zoomIn" data-wow-delay="0.9s">Request A Quote</a> -->
            </div>
            <div class="col-lg-5" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s" src="images/about.jpg" style="object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
</div>